<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <style>
      body {
        font-family:
          -apple-system, BlinkMacSystemFont, 
          "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", 
          "Fira Sans", "Droid Sans", "Helvetica Neue", 
          sans-serif;
      }

      .block {
        border: 1px solid black;
        margin: 1em;
        padding: 1em;
      }

      .catalogue {
        display: flex;
        flex-wrap: wrap;
      }

      .catalogue__item {
        flex: 1;
        min-height: 300px;
        min-width: 250px;
      }

      .button {
        background: #00779e;
        color: white;
        display: block;
        font-weight: bold;
        padding: 1em 2em;
        text-align: center;
        text-decoration: none;
      }

      .button:hover,
      .button:focus {
        background: #004e69;
      }
    </style>
  </head>
  <body>
    <header class="block">
      <h1>Sky</h1>
      <h2>Choose your perfect TV package</h2>
    </header>
    <div id="app"></div>
    <footer class="block">
      <p>&copy; Copyright 2016 Sky plc</p>
    </footer>
  </body>
</html>
